/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

* {
  font-family: sans-serif;
  color: #fff;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.header {
  display: block;
  width: 100%;
  height: 110px;
  font-size: 12px;
  position: sticky;
  top: 0;
}

.banner {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  height: 100%;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.banner__wrapper {
  display: flex;
  width: 100%;
  height: 28px;
}

.pill {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 15px;
  border-radius: 100px;
}

.banner__pill--bgc {
  background-color: #eb5757;
}

.banner__text {
  font-size: 16px;
  margin-left: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #eb5757;
}

.nav__wrapper {
  display: flex;
  width: 100%;
  height: 26px;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu {
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  justify-content: end;
}

.menu__link {
  display: flex;
  height: 100%;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.menu__link:hover {
  background-color: #000;
}

.button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
}

.button__content {
  display: flex;
  height: 100%;
}

.controls {
  display: flex;
  height: 100%;
}

.controls__button {
  display: flex;
  position: relative;
  height: 100%;
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}

.button__info {
  display: block;
  position: absolute;
  top: 26px;
  right: 20px;
  width: 0px;
  max-height: 100px;
  color: #000;
  transition: all 0.5s ease 0s;
}

.controls__button:hover > .button__info {
  width: 400px;
}

li:hover {
  background-color: rgb(184, 184, 184);
}

.controls__badge {
  display: flex;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 13px;
  height: 13px;
  font-size: 8px;
}

.info {
  max-height: 160px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.info--color {
  color: #000;
  margin: 5px 20px;
}

.badge {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
}

.menuBurger {
  display: flex;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstBlock {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-image: url(https://uploads-ssl.webflow.com/5e7ff3ec0c4ef4c974fa99e3/5e83f98bae1ad80129fcd7e5_wu-jianxiong-UniC8xhlzaE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.firstBlock__gradient {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 550px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(250, 250, 250, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.firstBlock__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 0 20px 45px 20px;
}

.firstBlock__h1 {
  display: flex;
  max-width: 35%;
  font-size: 62px;
  font-weight: 700;
  margin: 10px 0;
  line-height: 1.2em;
}

.paragraph {
  display: flex;
  max-width: 35%;
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.5em;
}

.firstBlock__button {
  border-radius: 5px;
  padding: 5px 25px;
  margin: 10px 0;
  border: 1px solid #fff;
}

.firstBlock__button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 991px) {
  .firstBlock__h1 {
    width: 60%;
  }
  .paragraph {
    width: 55%;
  }
  .menu {
    display: none;
  }

  .controls {
    order: 2;
    flex: 1 1 auto;
    justify-content: end;
  }
  .menuBurger {
    order: 3;
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    align-self: center;
  }
  .menuBurger:before,
  .menuBurger:after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
  }
  .menuBurger:before {
    top: 0;
  }
  .menuBurger:after {
    bottom: 0;
  }
  .menuBurger span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 9px;
  }
}

@media (max-width: 479px) {
  .firstBlock__h1 {
    font-size: 30px;
  }
  .paragraph {
    font-size: 13px;
  }
  .wrapper.banner__wrapper {
    flex-direction: column;
  }
  .controls__button:hover > .button__info {
    width: 200px;
  }
}
